
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    color: var(--main-text-color);
    /* background-color: var(--main-bg-color-green); */
}

:root {
    --main-bg-color-green: #DCFFB7;
    --main-bg-color-red: #FF6868;
    --main-bg-color-orange: #FFBB64;
    --main-bg-color-yellow: #FFEAA7;
    --main-text-color: #333;
    --main-font: 'Inter', sans-serif;
    --main-font-size: px;
    --main-padding: 10px;
    --main-margin: 10px;
    --main-border-radius: 20px;
    --main-border: 1px solid red;
    --main-transition: all 0.3s ease;
    --main-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    overflow-x: hidden;
}

/* HEADER */
/* Alinhar conteúdo do header ao centro vertical e horizontalmente */
header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    z-index: 10;
}

/* Deixar nav ul em linha dentro do header */
nav ul {
    list-style: none; /* remove os pontos da lista */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-top: 30px;
}

/* deixar conteúdo das li's que ficam dentro da row ul em coluna e centralizada */
nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.order img {
    width: 18px;
    height: 18px;
}

nav ul li a {
    text-decoration: none; /* remove o sublinhado */
    color: var(--main-text-color);
    font-size: 0.9rem;
}

nav ul li a h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Inspiration', sans-serif;
}

/* MAIN HERO */
.hero-section {
    display: flex;
    flex-direction: row;
    height: 255px;
   /*  border: var(--main-border); */

    position: relative;
    z-index: 2;
}

.descriptionAndbtn {
    display: relative;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.descriptionAndbtn p {
    margin-top: 30px;
    font-size: 1rem;
    width: 300px;

    position: absolute;
    z-index: 3;
}

.btn_menu {
    border-style: none;
    background-color: var(--main-bg-color-green);
    border-radius: var(--main-border-radius);
    width: 130px;
    padding: 2px;

    position: absolute;
    bottom: 55px;
    /* margin-top: 156px; */
}

.img_hero_main {
   /*  border: var(--main-border); */
    width: 252px;
    height: 300px;
    bottom: 200px;
}

/* HOURS */
.hours-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    font-size: 1rem;

    margin-top: 0px;

    position: relative;
    z-index: 2;
}

.hours-section h2 {
    font-family: 'Titan One', sans-serif;
    color: white;
}

.img_bife {
    /* border: var(--main-border); */
    width: 170px;
}


/* BGS */
.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; /* Fica bem no fundo */

    /* z-index: 50; */
}
  
.bgGreen {
    height: 36vh;
    background-color: var(--main-bg-color-green);
}
  
.bgRed {
    height: 42vh;
    background-color: var(--main-bg-color-red);

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
  
.bgYellow {
    height: 70vh;
    background-color: var(--main-bg-color-yellow);

    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);

    bottom: 67px;
    position: relative;
}

.bgOrange {
    height: 50vh;
    background-color: var(--main-bg-color-orange);

    position: relative;
    bottom: 180px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

/* MAIN ABOUT */

.about-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border: var(--main-border); */
    font-size: 1rem;

    position: relative;
    z-index: 2;

    margin: 20px;
}

.about-section p {
    /* border: var(--main-border); */
    text-align: start;
    font-weight: medium;

    text-align: center;
}

#carouselExampleIndicators {
    /* max-width: 800px; */
    
    overflow: hidden;
}

.carousel-inner {
    height: 100% /* ou: aspect-ratio: 16/9; */
}

.carousel-item img {
    width: 100%;
    height: 100%; /* ou: aspect-ratio: 16/9; */
    object-fit: cover; /* ou "cover" para preenchimento total */
    background-color: #000; /* apenas se usar "contain" */
    border-radius: var(--main-border-radius);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 100% 100%;
    border-radius: 50%;
}

/* FOOTER */
footer {
    /* border: var(--main-border); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: var(--main-padding);

    list-style: none;
    position: relative;
    z-index: 2;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;
    top: 20px;
}

.footer-middle {
   /*  border: var(--main-border); */
    
    position: relative;
    font-weight: bolder;
    bottom: 50px;
    right: 25px;
}

.footer-middle img {
    display: inline-block;;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;
    top: 40px;
}


